body {
    height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid; 
    place-items: center;
    background-color: #f0f0f0;
}

.header {
    width: 20%;
    height: 100%;
    text-align: center; /* Center the image horizontally */
}

#top-image {
    width: 100%; /* Make the image responsive to the width of the screen */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove extra space below the image */
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
  }
  
 .container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: right;
    font-size: 12px;
  }

.clock-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 300px;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#digital-clock {
    font-size: 48px;
    color: #333;
}
