body {
    background-image: url('beit_knesset_background..jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.digital-clock {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);   
    font-size: 48px;
    border-radius: 8px;
    color: #333;
    text-align: center;
}

.shabbat-hour {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    text-align: center;
}