body {
    font-family: sans-serif, sans-serif;  /* previous: Alef, Assistant, Suez One */
    direction: rtl; 
    text-align: right;
    /*font-weight: bold;*/
    line-height: 0.8;
    height: 100vh;
    font-size: 32px; 
    color: white;
    cursor: none;
    /*padding: 10px;
    margin: 10px;*/
}
/*
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}
*/

/*
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;    
}

.row.no-gutters > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
*/

.no-border {
    border: none;
}

.card-body {
    text-align: right; 
}

.custom-container {    
    color: #395784;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;    
}

.align-right {
    justify-content: flex-end; /* Flexbox utility to align right */
}

.custom-card{
    background-color: transparent !important;
}
/*
.custom-card .card-body {
    margin-right: 10px;
    padding-top: 50px;           
}
*/
.zmanim {    
    margin-left: 100px;
    /*padding-right: 10px;*/
}

.custom-margin {
    margin-top: 50px; 
}

.chol {
    padding-right: 170px;
}

.odahot {
    padding-right:170px;
    margin-top: 50px;
}

.status-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: red; /* Default is red (disconnected) */
}

